*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Monster;
}
body{
    text-align: center;
    background-color: antiquewhite;
}
.wrapper{
    margin: 0 auto;
    width: 95%;
    max-width: 600px;
}
h1{
    margin: 20px 0;
}
h2{
    font-size: 18px;
    margin: 10px 0;
}
li{
    display: inline-block;
    font-size: 14px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    width: 90%;
}
a{
    text-align: left;
    display: block;
    padding: 5px;
    text-decoration: none;
    background-color: rgb(255, 246, 233);
    border-radius: 5px;
    color: black;
    font-size: 13px;
    font-weight: bold;
}
@font-face {
    font-family: Monster;
    src: url(fonts/Montserrat.ttf);
}
