    body{
        font-family: Monster;
        text-align: center;
        background-color: antiquewhite;
    }
    .wrapper{
        margin: 0 auto;
        width: 95%;
        max-width: 600px;
    }
    h1{
        margin: 20px 0;
    }
    h2{
        font-size: 18px;
        margin: 10px 0;
    }
    img{
        margin-top: 10px;
        width: 100%;
        max-width: 400px;
    }
    .log{
        margin-top: 15px;
    }
    section{
        margin-bottom: 40px;
    }
    @font-face {
        font-family: Monster;
        src: url(fonts/Montserrat.ttf);
    }