body{
    font-family: Monster;
    text-align: center;
    background-color: antiquewhite;
}
.wrapper{
    margin: 0 auto;
    width: 95%;
    max-width: 600px;
}
h1{
    margin: 20px 0;
}
h2{
    font-size: 18px;
    margin: 10px 0;
}
img{
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
}
.log{
    margin-top: 15px;
}
section{
    margin-bottom: 40px;
}
.client{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 300px;
    border: 2px solid;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.drag{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 100%;
}


@font-face {
    font-family: Monster;
    src: url(../../fonts/Montserrat.ttf);
}